<header>

    <div class="header">
      <div id="logo">
          <img class="logo-img" src="../../assets/img/logo-t.png" alt="Logo Pet Village">
      </div>

      <form>
          <div>
              <i class="bi bi-search"></i>
              <input type="search" class="search" placeholder="Pesquisar...">
          </div>
          <button class="btn" type="submit">
              Pesquisar
          </button>
      </form>

      <div class="login">
          <div class="bag">
              <p class="bag-itens"></p>
              <a href="/carrinho"><i class="bi bi-bag-heart"></i></a>
          </div>

          <p class="entrar">Entrar</p>
      </div>
    </div>
</header>

  <nav>
  <div class="menu">

    <ul>
        <li class="treeline-icon"><i class="bi bi-list"></i></li>
        <li><a href="/">Home</a></li>
        <li><a href="/brinquedos">Brinquedos</a></li>
        <li><a href="/alimentacao">Alimentação</a></li>
        <li><a href="/diversos">Diversos</a></li>
        <li><a href="/contato">Contato</a></li>
    </ul>
  </div>
</nav>

